NEXT_PUBLIC_SITE_URL=https://hethongsub.vn
UPSTREAM_BASE_URL=https://trungtammmo.vn
UPSTREAM_API_KEY=ttmmo_game_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SESSION_SECRET=change-this-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
GOOGLE_SITE_VERIFICATION=google-search-console-token
